@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
.sign {
  box-shadow: 0px 31px 34px 0px rgba(16, 39, 246, 0.2);
  color: white;
}
.auth-btn {
  display: flex;
  border-radius: 8px;
  width: 100%;
  padding-block: clamp(16px, 1.3vw, 22px);
  background-color: #bf2018;
  transition: linear 0.2s ease;
  color: white;
}
.topMenu .mantine-Menu-dropdown {
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  border: none;
  background-color: white;
  top: 65px !important;
}
/* .mantine-Menu-item {
  display: flex;
  padding-bottom: 10px;
  gap: 12px;
  align-items: center;
} */
.topMenu .mantine-Menu-itemLabel {
  font-size: 13px;
  color: #8f9198;
}
.auth-btn:hover {
  background-color: #790b06;
}

.sign-1 {
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.16);
}

.home-bg {
  background-image: url("/images/home-bg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.secure-bg {
  background-image: url("/images/secure-bg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mantine-TextInput-input {
  background-color: white;
}
.mantine-PasswordInput-innerInput {
  padding: 10px !important;
  border: 1px solid #f0f0f1;
  width: 100%;
  background-color: white;
}

.mantine-PasswordInput-wrapper {
  position: relative;
}

.mantine-PasswordInput-section {
  position: absolute;
  right: 20px;
  top: 13px;
}

.mantine-PinInput-root {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.mantine-PinInput-wrapper {
  outline: 2px solid #f0f0f1;
}

.mantine-PinInput-pinInput {
  padding: 10px;
  border-radius: 10px;
}

.mantine-PinInput-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.mantine-PinInput-input::placeholder {
  color: black;
}

.empty {
  height: calc(100vh - 231.68px);
}

.sideBar {
  height: calc(100vh - 61.68px);
}

.sideblue {
  background-color: #e1e5fa;
}

.sidedark {
  background-color: #3045bc;
}
.overview {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgba(193, 194, 198, 0.4),
    0px 6px 6px -6px rgba(193, 194, 198, 0.16);
}
.mantine-y08onz > thead > tr > th {
  font-weight: 500;
  color: #4a4c58;
  font-size: 14px;
}
.mantine-y08onz > tbody > tr > td {
  color: #4a4c58;
  font-size: 12px;
  font-weight: 400;
}

.notification {
  border-bottom: 1px solid
    var(--foundation-xdse-neutral-xds-eneutral-4, #f0f0f1);
}

.address {
  border-radius: 8px;
  border: 0.5px solid var(--foundation-xds-info-xds-info-2, #c9def8);
  border-top: 3px solid #3851dd;
  background: var(--foundation-xdse-neutral-xds-eneutral-1, #fff);
  box-shadow: -2px 3px 12px 1px rgba(54, 79, 214, 0.05);
  padding: 16px;
}
.staffManagement tr th:first-child {
  border-top-left-radius: 16px !important;
}
.staffManagement tr th:last-child {
  border-top-right-radius: 16px !important;
}

.staffManagement tr thead {
  border-bottom: none;
}

.mantine-u9kgxf {
  height: 0px !important;
  display: none;
}
.mantine-1k9tphv {
  height: 0px !important;
  display: none;
}
.mantine-1dy2fw3[data-progress] {
  border-color: #3045bc !important;
  color: #3045bc;
}

.mantine-1dy2fw3[data-completed] {
  background-color: #edeffa !important;
  border-color: #0ba257 !important;
  color: #0ba257 !important;
}

.mantine-Stepper-stepCompletedIcon {
  color: #0ba257;
}
.mantine-Stepper-stepIcon {
  color: #8f9198;
  border-color: #8f9198;
}
.mantine-1eyv063 {
  background: #edeffa;
  padding-block: 12px;
  border-bottom: 2px solid #3045bc;
  padding-inline: 16px;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex: 1;
}
.mantine-Stepper-steps {
  display: flex;
  gap: 10px;
}
.mantine-phlbul {
  height: 28px !important;
  min-height: 28px !important;
}

.mantine-189n011 {
  height: 70px;
}

.deactivate {
  border-radius: 6px;
  background: var(--xds-neutral-white, #fff);
  box-shadow: 0px 0px 0px 1px rgba(94, 96, 106, 0.16),
    0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.mantine-1qnz2ae {
  border-top-left-radius: 62px;
}

.mantine-Accordion-label {
  font-size: 16px;
  color: #4a4c58;
  font-weight: 600;
}
.clear {
  border-radius: 6px;
  background: var(--xds-neutral-white, #fff);
  box-shadow: 0px 0px 0px 1px rgba(94, 96, 106, 0.16),
    0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.mantine-l28z15 {
  padding: 8px;
  background-color: #f5f5f6;
  border-radius: 6px;
  border: none;
}
.mantine-1hher0m[data-active] {
  color: #3851dd;
  background-color: white;
  border: none;
  font-size: 12px;
  font-weight: 600;
}
